@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Merriweather:400,700&display=swap');
@import url('./icons/css/fontello-embedded.css');

body {flex-direction: column; font-family: 'Merriweather', serif; background: #333; font-size: 16px; color: #f7f7f7; margin: 0; padding: 0; box-sizing: border-box;}

h1, h2, h3, nav {font-family: 'Lato', sans-serif; font-weight: 700;}
nav {font-weight: 400;}
h1 {font-size: 2em; line-height: 1.2em;  color: #FFDF7D; width: 100%; border-bottom: 1px solid #666; margin: 1.2em 0 0 0;}
h2 {font-size: 1.6em;  color: #FFDF7D; margin: 1.2em 0 0 0;}
h3 {font-size: 1.2em;  color: #FFDF7D; margin: 1.2em 0 0 0;}
p, nav, ul, label, input, textarea, button {font-size: 1.2em; line-height: 1.6em;}
p {margin: 1.6em 0 0 0;}
a {color: #96A8FF;}


header, footer {padding: 1em 7vw; box-sizing: border-box; background: rgba(34, 34, 34, 0.8);}
header {border: 2px solid #222;}

header h1 {font-size: 1.2em; letter-spacing: 0.07em; color: #96A8FF; border-bottom: none; display: inline-block; width: fit-content; padding: 0.5em 0; margin: 0;}
header nav {float: right;}
nav a {display: inline-block; padding: 0.5em 1em;}

#hero {display: flex; padding: 0; margin: 0; border-bottom: 1px solid #666; background: rgba(34, 34, 34, 0.8);}
#hero img {flex: 1; margin: 10vh 5vw; padding: 0; width: 100px; height: auto; display: block; border-radius: 100%; border: 3px solid #222; box-shadow: 0 3px 8px 4px #222;}
#hero div {flex: 2; height: 100%; box-sizing: border-box; padding: 0 3vw 0 0;}
#hero h1 {font-size: 6em; border-bottom: none; width: 40vw; margin-top: 0.9em; text-shadow: 0 2px 4px #111;}
#hero p {font-size: 1.6em; width: 60vw;}

.gallery {display: flex; flex-flow: row wrap; justify-content: center; margin: auto;}
.gallery figure {display: inline-block; overflow: hidden; margin: 16px; border-radius: 4px; box-shadow: 0 0 10px #222;}
.gallery figure:hover {margin: 11px; box-shadow: 0 0 20px #222;}
.gallery figure img {display: block; height: 200px; width: 200px; object-fit: cover;}
.gallery figure img:hover {height: 205px; width: 205px;}

.card {width: 80vw; background: #2d2d2d; margin: 3em auto; border: 1px solid #111; border-radius: 6px; overflow: hidden; box-shadow: 0 0 10px #222;}
.card figure {margin: 0;}
.card img, .card figcaption {float: left;}
.card.landscape img {width: 100%; height: auto;}
.card.portrait img {width: 66%; height: auto;}
.card figcaption {padding: 1em 1.6em; box-sizing: border-box;}
.card.portrait figcaption {width: 33%;}

ul.meta {list-style: none; padding: 0;}
ul.meta li {line-height: 2.4em;}
ul.meta li:before, p.date:before {margin-right: 0.6em; color: #FFDF7D;}

div.fullWidth {width: 90vw; padding: 1em; margin: 3em auto 1em auto;}

.services {background: #2d2d2d; border: 1px solid #222; box-shadow: 0 2px 8px #222; border-radius: 0.4em; box-sizing: border-box;}
.flex {display: flex; justify-content: center; align-items: flex-start; flex-flow: row wrap;}
.flex section {flex: 1; padding: 2em 1.8em 1.8em; margin: 0; border-left: 1px solid #666;}
.flex figure {flex: 25%;}
.flex section:first-of-type {margin-left: 0; border-left: none;}
.flex section:last-of-type {margin-right: 0; border-right: none;}
.flex section span {display: block;height: 200px; width: 200px; background: #666; margin: auto;}

form {margin: 1em 0 3em 0; overflow: auto;}
label, input, textarea, button {float: left; padding: 0.8em; margin: 1.6em 0; box-sizing: border-box;}
label {width: 10vw; text-align: right; padding: 0.8em 0.8em 0.8em 0;}
input, textarea, button {border-radius: 4px; border: 1px solid #222; box-shadow: 0 0 4px 0 #222; background: #ccc; font-family: 'Merriweather', serif; width: 30vw;}
input:focus, textarea:focus {border: 1px solid #555; box-shadow: 0 0 10px 4px #222;}
label, button {clear: left;}
button {background: #96A8FF; border: 1px solid #7485da; margin: 1em 0 0 10vw; box-shadow: none;}
button:hover {background: #7485da;}
form p {clear: left; margin: 1em 0 0;}
.hide {display: none;}

.services .icon-layers:before, .services .icon-code:before, .services .icon-chat-empty:before {color:  #FFDF7D; font-size: 4em;}

.center {text-align: center;}

footer { padding: 2em 7vw; margin: 3em 0 0 0; overflow: auto; clear: left;}
footer p, footer ul {font-size: 1em; display: inline-block; width: content-fit; padding: 0;}
.social {float: right; list-style: none;}
.social a {text-decoration: none;}
.social .icon-linkedin-squared:before, .social .icon-instagram:before {margin-right: 0.6em; color: #96A8FF;}

@media screen and (max-width: 750px) {
    header {position: static; text-align: center;}
    header nav {float: none;}
	
	.services {margin: 1em 0 0 0; width: 100vw; padding: 1em;}
	
	#hero {overflow: auto; background: rgba(34, 34, 34, 0.6);}
	#hero img {float: right; width: 30vw;}
	#hero div {float: left; position: static; box-sizing: border-box; width: 50vw; margin-top: 2.5em; padding: 0 1em; background: none;}
	#hero h1 {font-size: 2.4em; margin: 0; width: auto;}
	#hero p {font-size: 1.2em; margin: 1.2em 0 0; width: auto;}
	#hero h1 span {background: none;}
	
	.services {box-sizing: border-box; background: none; box-shadow: none; border: none;}
	
	.flex {display: block; position: static;}
	.flex section {background-color: #2d2d2d; margin: 2em 2em; border: 1px solid #222; box-shadow: 0 2px 8px #222; border-radius: 0.4em;}
	.flex section:first-of-type {margin-left: 2em;}
	.flex section:last-of-type {margin-right: 2em;}
	
	.services .icon {background-position: center 1em; padding-top: 5em;}

    form {margin-top: 3.2em;}
    label, input, textarea, button {width: 90vw; float: none;}
    input, textarea {margin: 0.8em 0 2.4em;}
    button {margin: 0;} 
}

@media screen and (max-width: 600px) {

	p, ul {font-size: 1em;}
	#hero {display: block; overflow: auto;}
	#hero img {width: 200px; height: 200px; margin: 3em auto 0; float: none;}
	#hero div {text-align: center; padding: 2em 4em 3em; margin: 0; width: 100vw; box-sizing: border-box; float: none;}
	#hero h1 {font-size: 2em;}
	#hero h1 span {background: none;}
	#hero p {font-size: 1em; padding: 0;}

	.card.portrait img, .card.portrait figcaption {width: 100%;}
	
	div.services {margin-top: 0;}
	footer {margin-top: 0; text-align: center;}
	footer .social {float: none; margin-top: 1.6em;}
}